# Created by .ignore support plugin (hsz.mobi)

# Logs
logs
*.log
npm-debug.log*

#JWT login token
token
token/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

